html,
body {
  margin: 0px;
  padding: 0px;
  background: url(../img/prin.jpg);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  size: 62.5%; /**Reset para REMS - 62.5% =10px de 16px**/
}

.contenedor {
  width: 95%;
  margin: auto;
  min-width: 62rem;
  max-width: 62rem;
 
}

.navegador {
  width: 100%;
  margin: auto;
  display: inline-flex;
  margin-top: 1rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  height: 3rem;
  min-width: 62rem;
}

.navegador a {
  
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0.3rem;
  margin-left: 1rem;
  border-radius: 1rem;
  color: black;
  border: solid 0.1rem rgb(224, 221, 221);
  /* color */
  background: linear-gradient(
    to bottom,
    rgba(254, 254, 254, 1) 0%,
    rgba(254, 254, 254, 1) 13%,
    rgba(209, 209, 209, 1) 49%,
    rgba(219, 219, 219, 1) 62%,
    rgba(226, 226, 226, 1) 100%
  );
}

.abajo{
    margin-top: .8rem;
}

.navegador a:hover {
    
  background: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(117, 189, 209, 1) 41%,
    rgba(40, 113, 191, 1) 100%
  );
}

.navegador ul {
  display: inline-block;
  margin-left: -40px;
  margin-top: 0.8rem;
}
.navegador li {
  list-style: none;
  text-align: left;
  height: 2.8rem;
}

.navegador li > ul {
  display: none;
  margin-top: 1rem;
}

.navegador li:hover > ul {
  display: block;
  position: absolute;
}

.navegador img {
  margin-left: 1rem;
  border-radius: 2rem;
  width: 4rem;
  border: solid 0.1rem black;
}

/* FUENTE DESCARGADA DE INTERNET */
@font-face {
    font-family: mifuente;
    src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
  }


/* CABECERA */
.header{
   
   padding-left: 2rem;
    font-family: mifuente;
    font-weight: bold;
    color: rgb(7, 7, 7);
    font-size: 50px;
    margin-top: 1rem;
    width: 95%;
    height: 20rem;
    background-color: blue;
    border-radius: 1rem;
    background-image: url(../img/fondo1.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1.5px rgb(160, 160, 160);

    /* SOMBRA */
    -webkit-box-shadow: inset 7px -7px 55px -8px rgba(0,0,0,0.47);
-moz-box-shadow: inset 7px -7px 55px -8px rgba(0,0,0,0.47);
box-shadow: inset 7px -7px 55px -8px rgba(0,0,0,0.47)


}


.boton{
  
  text-align: center;
 text-decoration: none;
  font-size: 1.5rem;
  
  padding: .2rem 2.2rem;
  margin-left: 1rem;
  border-radius: 1rem;
  color: black;
  border: solid .1rem rgb(224, 217, 217);
  /* color */
  background: linear-gradient(
    to bottom,
    rgba(254, 254, 254, 1) 0%,
    rgba(254, 254, 254, 1) 13%,
    rgba(209, 209, 209, 1) 49%,
    rgba(219, 219, 219, 1) 62%,
    rgba(226, 226, 226, 1) 100%
  );
}

.boton:hover{
  
  background: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(117, 189, 209, 1) 41%,
    rgba(40, 113, 191, 1) 100%
  );
}

/* CONTENIDO */

.contenido{
  
  text-align: center;
  width: 99%;
  height: 47rem;
  border: solid .1rem rgb(0, 0, 0);
  border-radius: 10px;
  
}

.superior{
  display: flex;
  background-image: url(../img/oja.png);
  background-size: .3rem;
  background-color: rgb(240, 240, 240);

}

.cont1 table{
  width: 100%;
}

.cont1 img{
  width: 7.2rem;
  height: 8rem;
  border-radius: 2rem;
  border: solid .1rem;
}
.cont1{
  
  width: 10rem;
  height: 14rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.boton_dos{
  text-align: center;
 text-decoration: none;
 
  padding: .1rem .4rem;
 
  border-radius: .2rem;
  color: black;
  border: solid .1rem rgb(95, 90, 90);
  /* color */
  background: linear-gradient(
    to bottom,
    rgba(254, 254, 254, 1) 0%,
    rgba(254, 254, 254, 1) 13%,
    rgba(209, 209, 209, 1) 49%,
    rgba(219, 219, 219, 1) 62%,
    rgba(226, 226, 226, 1) 100%
  );
}

.boton_dos:hover{
  
  background: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(117, 189, 209, 1) 41%,
    rgba(40, 113, 191, 1) 100%
  );
}

/* CONTENIDO INFERIOR */
.inferior_contenido{
  margin-top: 2rem;
  font-family: mifuente;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 1rem;
}

.inf{
  margin: auto;
  width: 90%;
  height: 25rem;
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
}

.inf img{
  width: 17rem;
  height: 15rem;
  border-radius: 1rem;
}

.pie_pagina{
  width: 100%;
  margin: auto;
  text-align: center;
  color: rgb(88, 88, 88);
  font-weight: bolder;
}


/* FORMULARIOS */

.f_centrar{
  width: 20rem;
  margin: auto;
  text-align: left;
}